[Desktop Entry]
Name=Gamestar Mechanic
Exec=gamestarmechanic %u
Icon=com.gamestarmechanic.gamestarmechanic
Terminal=false
Type=Application
StartupWMClass=Gamestar Mechanic
Categories=Game;Education;
StartupNotify=true

